{%extends 'base.html'%}

{%block content%}
<h2>Welcome</h2>
<a href="{% url 'available' %}">Available Scholarships</a>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, velit mollitia! Ut labore expedita nemo aperiam laboriosam. Nobis dolorem, ex deserunt aut quis dicta facere ipsa nisi repellat voluptatibus iusto.</p>
{%endblock%}
