{% extends 'base.html' %}

{%block content%}
<h2>Application Details</h2>
<a href="{% url 'info' obj.pk %}">Back</a> &nbsp; &nbsp; <a href="{% url 'edit' data.pk %}">edit application</a><br><br>
Scholarship: {{obj.name}}<br><br>
Application Status: 
{% if data.status %}
<br><br>
- {{data.status.name}}
{% if data.status.info %}
<br>
- {{data.status.info}}
{%endif%}
{%else%}
Processing
{%endif%}
<br><br>
<h3>Applicant</h3>
<img src="{{data.picture.url}}" width="200" height="200"><br><br><br>
Username: {{data.user}}<br><br>
Email: {{data.email}}<br><br>
Date of birth: {{data.date_of_birth}}<br><br>
matric no: {{data.matric_no}}<br><br>
school: {{data.school}}<br><br>
level: {{data.level}}<br><br>
department: {{data.department}}<br><br> 
CGPA: {{data.cgpa}}<br><br>
<h2>Documents</h2>
admission letter: <a href="{{data.admission_letter.url}}" download>View</a><br><br> 
result: <a href="{{data.result.url}}" download>View</a><br><br> 
national identification: <a href="{{data.national_identification.url}}" download>View</a><br><br> 
id card: <a href="{{data.id_card.url}}" download>View</a><br><br> 
{%endblock%}
